## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and manipulation of data. Databases are used to store and manage vast amounts of information, ranging from simple lists and records to complex datasets used in applications, websites, and more. Databases are crucial for many aspects of computing and information management.

There are two main categories of databases: SQL (Structured Query Language) databases and NoSQL databases. Here's a differentiation between the two:

SQL Databases:

Structured Data: SQL databases are designed for structured data, which means data is organized into tables with predefined schemas. Each row in a table represents a specific record, and each column represents a field of data.

ACID Properties: SQL databases adhere to ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data integrity, consistency, and reliability. Transactions are used to maintain these properties, making SQL databases suitable for applications that require strong data consistency.

Schema: SQL databases require a predefined schema, meaning you must define the structure of your data before inserting it. Changes to the schema can be complex and require careful planning.

Scalability: SQL databases are typically scaled vertically by adding more resources (CPU, RAM) to a single server, which can be expensive and has limits in terms of scalability. This is often referred to as "scaling up."

Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server are examples of SQL databases.

NoSQL Databases:

Flexible Data Models: NoSQL databases are designed to handle unstructured or semi-structured data, offering more flexibility in data modeling. They can store data in various formats, such as key-value, document, column-family, or graph.

BASE Properties: NoSQL databases follow BASE (Basically Available, Soft state, Eventually consistent) principles. They prioritize availability and partition tolerance over strict consistency, which makes them suitable for distributed and highly available systems.

Schema-less: NoSQL databases are typically schema-less, meaning you can insert data without specifying a predefined schema. This flexibility allows for easier adaptation to changing data requirements.

Scalability: NoSQL databases are often designed for horizontal scalability, where you can add more servers to distribute the data and load. This is known as "scaling out."

Examples: MongoDB, Cassandra, Redis, Couchbase, and Neo4j are examples of NoSQL databases.

Choosing between SQL and NoSQL databases depends on the specific requirements of your application. SQL databases are a good fit for applications that require strong data consistency and a fixed schema, while NoSQL databases are better suited for applications with rapidly changing data models, high scalability needs, or unstructured data.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining, managing, and modifying the structure of a database and its objects. DDL statements are responsible for creating, altering, and deleting database objects like tables, indexes, constraints, and more. The primary DDL statements include CREATE, DROP, ALTER, and TRUNCATE:

CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, or constraints. It defines the structure and characteristics of the object being created.

## Example: Creating a new table in a SQL database:


CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

In this example, a new table named "Employees" is created with columns for EmployeeID, FirstName, LastName, and Department.

DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, or views, along with their data.


## Example: Dropping a table in a SQL database:
    DROP TABLE Employees;

This SQL command deletes the "Employees" table and all its associated data.

ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns, constraints, or indexes.

Example: Adding a new column to an existing table in a SQL database:

## Example: Adding a new column to an existing table in a SQL database:


ALTER TABLE Employees
ADD Email VARCHAR(100);

This SQL command adds a new column named "Email" to the "Employees" table.

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while retaining the table's structure. It is faster and more efficient than the DELETE statement when you want to remove all data from a table.

Example: Truncating a table in a SQL database:

## Example: Truncating a table in a SQL database:
TRUNCATE TABLE Employees;

This SQL command removes all rows from the "Employees" table but keeps the table's structure intact.

In summary, DDL statements (CREATE, DROP, ALTER, and TRUNCATE) are essential for defining, managing, and modifying the structure of database objects. They enable you to create new objects, delete existing ones, modify object structures, and efficiently remove data from tables when needed. These statements are fundamental in database administration and schema management.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements are responsible for performing operations such as inserting new data into tables, updating existing data, and deleting data from tables. The primary DML statements include INSERT, UPDATE, and DELETE:

## INSERT: The INSERT statement is used to add new rows or records into a database table.

Example: Inserting a new employee record into a SQL database:


INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'HR');
In this example, a new employee record is inserted into the "Employees" table with the specified values for EmployeeID, FirstName, LastName, and Department.

UPDATE: The UPDATE statement is used to modify existing records within a database table. You can specify which records to update based on a condition.

## Example: Updating the department for an employee in a SQL database:

UPDATE Employees
SET Department = 'Finance'
WHERE EmployeeID = 1;
This SQL command updates the "Department" field for the employee with EmployeeID 1, changing it to 'Finance'.

DELETE: The DELETE statement is used to remove records from a database table. You can specify which records to delete based on a condition.

## Example: Deleting an employee record from a SQL database:


DELETE FROM Employees
WHERE EmployeeID = 1;
This SQL command deletes the employee record with EmployeeID 1 from the "Employees" table.

DML statements are essential for manipulating data within a database and are often used in conjunction with queries and other SQL statements to interact with the data stored in the database. They allow you to add, modify, or remove data, ensuring that the database remains up-to-date and accurate.

## Q4. What is DQL? Explain SELECT with an example.

Ans-DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary DQL statement is SELECT, which allows you to specify the data you want to retrieve from one or more tables in a database.

Here's an explanation of the SELECT statement with an example:

SELECT Statement:

The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) from which to retrieve the data, and optional filtering conditions to narrow down the result set. The basic syntax of a SELECT statement is as follows:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

column1, column2, ...: These are the names of the columns you want to retrieve data from. You can use * to select all columns.
table_name: This is the name of the table(s) from which you want to retrieve data.
condition: This is an optional part of the statement. It specifies the conditions that data must meet to be included in the result set. If omitted, all rows from the specified table(s) will be retrieved.
Example:

Suppose you have a database table named "Employees" with the following columns: "EmployeeID," "FirstName," "LastName," "Department," and "Salary." Here's an example of a SELECT statement:

SELECT FirstName, LastName, Department
FROM Employees
WHERE Salary > 50000;

In this example:

We specify that we want to retrieve the "FirstName," "LastName," and "Department" columns from the "Employees" table.
We also include a condition using the WHERE clause, which states that we only want to retrieve data for employees whose salary is greater than 50,000.
The result of this query will be a list of employee names and their departments who meet the specified condition (salary > 50,000).
The SELECT statement is fundamental to querying and retrieving data from a database, and it can be customized to retrieve specific information according to your needs by selecting specific columns and applying filtering conditions.

## Q5. Explain Primary Key and Foreign Key.

Ans-Primary Key and Foreign Key are two essential concepts in relational database design that establish relationships between tables and ensure data integrity.

Primary Key:
A Primary Key is a unique identifier for each record (row) in a database table. It serves two main purposes:

Uniqueness: Each value in the primary key column must be unique within the table. This ensures that no two rows in the table can have the same primary key value.

Data Integrity: The primary key enforces data integrity by preventing the insertion of duplicate or null values in the key column. It ensures that each row can be uniquely identified.

Attributes of a Primary Key:

It must contain unique values.
It cannot contain NULL values.
There can be only one primary key in each table.
A primary key can consist of one or multiple columns, known as a composite primary key.
Example of a Primary Key:
Consider a "Students" table with the following columns:

StudentID (Primary Key)
FirstName
LastName
Age
In this case, "StudentID" is the primary key, and it ensures that each student has a unique identifier.

Foreign Key:
A Foreign Key is a field or a set of fields in a database table that is used to establish a link between two tables. It creates a referential relationship between the tables, ensuring data consistency and integrity.

Attributes of a Foreign Key:

It references the primary key of another table.
It can contain duplicate values.
It can contain NULL values (if allowed).
It helps maintain data consistency by enforcing referential integrity.
Example of a Foreign Key:
Let's say we have two tables, "Students" and "Courses." Each student can enroll in multiple courses, so we establish a relationship between them using a foreign key. Here's an example of how it might look:

"Students" Table:

StudentID (Primary Key)
FirstName
LastName
Age
"Courses" Table:

CourseID (Primary Key)
CourseName
To establish a relationship, we add a foreign key in the "Courses" table:

StudentID (Foreign Key) references StudentID in the "Students" table.
This foreign key relationship ensures that the values in the "StudentID" column in the "Courses" table match the values in the "StudentID" column of the "Students" table. It allows you to associate each course with a specific student.

In summary, primary keys uniquely identify records within a table, while foreign keys establish relationships between tables by referencing the primary key of another table. These keys are fundamental to maintaining data integrity and consistency in relational databases.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANS-To connect Python to MySQL, you can use the mysql-connector library, which provides a convenient way to interact with MySQL databases.

pip install mysql-connector-python
Here's a Python code example that demonstrates how to connect to a MySQL database, create a cursor, and execute SQL queries using the cursor() and execute() methods:

import mysql.connector

# Database connection parameters
db_config = {
    "host": "your_database_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database_name",
}

try:
    # Create a connection to the MySQL database
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Execute SQL queries using the execute() method
    cursor.execute("SELECT * FROM your_table_name")
    result = cursor.fetchall()  # Fetch all rows from the result set

    # You can now work with the data in 'result'
    for row in result:
        print(row)

    # Commit changes (if any) and close the cursor and connection
    connection.commit()

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed.")

Explanation of cursor() and execute() methods:

cursor():

The cursor() method creates a cursor object associated with the database connection.
A cursor is used to execute SQL queries and fetch data from the database.
It acts as a pointer to rows in the result set, allowing you to iterate through the data.
execute():

The execute() method is used to execute SQL statements or queries through the cursor.
You pass an SQL query as a parameter to this method.
After executing the query, the cursor holds the result set, which you can fetch using methods like fetchall(), fetchone(), or fetchmany(), depending on your needs.
In the example above, we execute a simple SELECT query to fetch all rows from a table and use fetchall() to retrieve the result.
After performing the necessary operations with the cursor, it's a good practice to commit any changes (e.g., INSERT, UPDATE, DELETE) using connection.commit() and close both the cursor and the database connection to free up resources. This ensures proper database interaction and prevents resource leaks.

## Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-In SQL, the order of execution of SQL clauses in a query is as follows:

FROM Clause: This clause specifies the tables from which you want to retrieve data. It is the first clause to be processed in a query.

WHERE Clause: The WHERE clause is used to filter the rows from the tables specified in the FROM clause. It defines the conditions that must be met for a row to be included in the result set. Rows that do not meet the specified conditions are excluded.

GROUP BY Clause: If your query involves aggregation functions like COUNT, SUM, AVG, etc., you can use the GROUP BY clause to group rows that have the same values in specified columns. The aggregation functions are then applied to each group separately.

HAVING Clause: The HAVING clause is similar to the WHERE clause but is used to filter the results of grouped data. It allows you to apply conditions to aggregated values (e.g., SUM, COUNT) in the result set. Rows that do not meet the HAVING clause conditions are excluded from the final result.

SELECT Clause: The SELECT clause determines which columns from the tables specified in the FROM clause should be included in the result set. It can also include expressions, calculations, and aliases for columns.

DISTINCT Clause: If you use the DISTINCT keyword in your SELECT clause, it is applied after the SELECT clause and before the ORDER BY clause. DISTINCT ensures that duplicate rows are eliminated from the result set, leaving only unique rows.

ORDER BY Clause: The ORDER BY clause specifies the order in which the result set should be sorted. You can specify one or more columns and their sorting order (ASC for ascending or DESC for descending). This clause is the last to be processed before the final result set is returned.

LIMIT/OFFSET Clause (if applicable): In some database systems like MySQL and PostgreSQL, you can use the LIMIT and OFFSET clauses to restrict the number of rows returned and skip a certain number of rows from the beginning of the result set, respectively. These clauses are typically applied after all other clauses.